extends layout.pug

block content
	form.form(action='/add' method='POST')
		input.input(type='text' placeholder='Search for...' name='blog')
		button.btn Search

	div.items
		p.item Anime
		p.item Manga
		p.item Games
		p.item Food
		p.item Movies
		p.item Stories
		p.item Books

